<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>홈 화면</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    table {
      width: 100%;
      border: 2px solid black;
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>홈 화면</h1>
  <button onclick="location.href='/signout'">로그아웃</button>
  <button onclick="location.href='/addAccount'">계좌 추가</button>
  <h1>회원 정보</h1>
  <h3>ID</h3>
  <p th:text="${member.id}"></p>
  <h3>User ID</h3>
  <p th:text="${member.uid}"></p>
  <h3>Name</h3>
  <p th:text="${member.memberName}"></p>
  <h3>Email</h3>
  <p th:text="${member.emailName}+'@'+${member.emailDomain}"></p>

  <h1>계좌 정보</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Member Id</th>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>type</th>
        <th>APP KEY</th>
        <th>접근토큰 발급</th>
        <th>계좌 조회</th>
        <th>국내주식 주문</th>
        <th>해외주식 주문</th>
        <th>접근토큰</th>
        <th>접근토큰 파기</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="account : ${accounts}">
        <td th:text="${account.id}"></td>
        <td th:text="${account.memberId}"></td>
        <td th:text="${account.accountNumber} + ' ' + ${account.accountProdCode}"></td>
        <td th:text="${account.accountName}"></td>
        <td th:text="${account.isVirtual}?'모의투자':'실전투자'"></td>
        <td th:text="${account.APP_KEY}"></td>
        <td>
          <a th:href="@{/getAccessToken/{id}(id=${account.id})}">접근토큰 발급</a>
        </td>
        <td>
          <a th:href="@{/getAccountInfo/{id}(id=${account.id})}">계좌 조회</a>
        </td>
        <td>
          <a th:href="@{/order(accountId=${account.id},type='domestic',stockCode='')}">국내주식 주문</a>
        </td>
        <td>
          <a th:href="@{/order(accountId=${account.id},type='overseas',stockCode='')}">해외주식 주문</a>
        </td>
        <td th:text="${account.accessToken}"></td>
        <td th:text="${account.accessTokenExpired}"></td>
      </tr>
    </tbody>
  </table>

</body>

</html>