<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>members</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    table {
      width: 100%;
      border: 2px solid black;
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>uid</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
            <th>link</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.uid}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.password}"></td>
            <td><a th:href="@{member/{uid}(uid=${member.uid})}">link</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>